body {
	background: url('img/stars.gif') repeat;
	overflow:hidden;
}

#moon {
	background: transparent url('img/moon.png') 0 0 no-repeat;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 10%;
	right: 10%;
	clear: both;
	z-index: -6;
}

#balrog {
	background: transparent 0 0 no-repeat;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	clear: both;
	z-index: 1;
}

#cloud1 {
	background: transparent url('img/cloud1.png') repeat-x;
	height: 128px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	clear: both;
	z-index: -2;
}

#cloud2 {
	background: transparent url('img/cloud2.png') repeat-x;
	height: 200px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	clear: both;
	z-index: -3;
}

#cloud3 {
	background: transparent url('img/cloud3.png') repeat-x;
	height: 257px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	clear: both;
	z-index: -4;
}

#cloud4 {
	background: transparent url('img/cloud4.png') repeat-x;
	height: 328px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	clear: both;
	z-index: -5;
}