:root {
  --preview-width: 1024px;
  --preview-height: 768px;
  --preview-scale: 0.50;
  --preview-display-width: calc(var(--preview-width) * var(--preview-scale));
  --preview-display-height: calc(var(--preview-height) * var(--preview-scale));
  --nav-width: 180px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: var(--nav-width) 1fr;
  grid-template-areas: "header header"
    "sidebar content"
    "footer footer";
  font-family: 'Inconsolata', monospace;

  max-width: calc(var(--nav-width) + var(--preview-display-width) + 20px);
  margin: 0 auto;
}
header {
  grid-area: header;
  max-width: 800px;
}
header h1, header h2 {
  text-align: center;
}
header p {
  padding: 12px;
}
.sidebar {
  grid-area: sidebar;
  max-height: 600px;
  overflow-y: scroll;
}
main {
  grid-area: content;
}
footer {
  grid-area: footer;
}
.wrap {
  overflow: hidden;
  width: var(--preview-display-width);
  height: var(--preview-display-height);
}
iframe {
  position: absolute;
  width: var(--preview-width);
  height: var(--preview-height);
  border: 0;

  transform: scale(var(--preview-scale));
  transform-origin: 0 0;
}

@media only screen and (max-width: 730px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
      "content"
      "sidebar"
      "footer";
  }
  .sidebar {
    max-height: initial;
    overflow-y: initial;
  }
}

ul {
  list-style-type: none;
  padding-left: 10px;
}
a {
  color: #0000ff;
}
a:hover,
a:focus {
  color: #ff0000;
}
