:root {
  --preview-width: 1024px;
  --preview-height: 768px;
  --preview-scale: 0.50;
  --preview-display-width: calc(var(--preview-width)*var(--preview-scale));
  --preview-display-height: calc(var(--preview-height)*var(--preview-scale));
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 180px 1fr;
  grid-template-areas: "header header"
    "sidebar content"
    "footer footer";
}
header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
  max-height: 600px;
  overflow-y: scroll;
}
main {
  grid-area: content;
}
footer {
  grid-area: footer;
}
.wrap {
  overflow: hidden;
  width: var(--preview-display-width);
  height: var(--preview-display-height);
}
iframe {
  position: absolute;
  width: var(--preview-width);
  height: var(--preview-height);
  border: 0;

  transform: scale(var(--preview-scale));
  transform-origin: 0 0;
}

@media only screen and (max-width: 730px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
      "content"
      "sidebar"
      "footer";
  }
  .sidebar {
    max-height: initial;
    overflow-y: initial;
  }
}

ul {
  list-style-type: none;
  padding-left: 10px;
}
a {
  color: #0000ff;
}
a:hover,
a:focus {
  color: #ff0000;
}
